main.library {
	position: relative;
	padding: var(--spacing-large);

	& > div.library__cards-container {
		&__grid {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
			gap: var(--spacing-medium);
		}

		&__list {
		}
	}

	& > div.library__loading-container {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: opacity var(--transition-duration) ease-in-out;
		pointer-events: none;
		cursor: auto;

		&[data-visible='false'] {
			opacity: 0;
			pointer-events: none;
		}

		&[data-visible='true'] {
			opacity: 1;
			pointer-events: all;
		}
	}

	& > div.library__error-container {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display: flex;
		justify-content: center;
		flex-direction: column;
		gap: var(--spacing-xsmall);
		align-items: center;
		transition: opacity var(--transition-duration) ease-in-out;
		pointer-events: none;
		cursor: auto;

		&[data-visible='false'] {
			opacity: 0;
			pointer-events: none;
		}

		&[data-visible='true'] {
			opacity: 1;
			pointer-events: all;
		}
	}
}
