main.reader {
	padding-top: var(--spacing-large);
	padding-inline: var(--spacing-large);

	div.reader__content {
		background-color: var(--color-white);
		margin-inline: auto;
		border-top-left-radius: var(--rounded-xlarge);
		border-top-right-radius: var(--rounded-xlarge);
		max-width: 800px;
		width: 100%;
		min-height: 100%;
		box-shadow: var(--shadow-medium);
	}
}
